{{- $name := "Jacob" -}}
{{- $email := "240170694+wignerStan@users.noreply.github.com" -}}
{{- $github_user := "wignerStan" -}}
{{- $primary_shell := "zsh" -}}
{{- $use_china_mirrors := true -}}
{{- $proxy_url := "socks5h://127.0.0.1:7897" -}}
{{- $mamba_root := "" -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   $mamba_root = joinPath .chezmoi.homeDir "mamba" -}}
{{- else -}}
{{-   $mamba_root = joinPath .chezmoi.homeDir "mamba" -}}
{{- end -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    github_user = {{ $github_user | quote }}
    primary_shell = {{ $primary_shell | quote }}
    is_personal = true
    use_china_mirrors = {{ $use_china_mirrors }}
    proxy_url = {{ $proxy_url | quote }}
    mamba_root = {{ $mamba_root | quote }}
    mihomo_path = "~/.config/mihomo"

[git]
    autoCommit = true
    autoPush = false

[diff]
    pager = "bat --style=diff"
