{{- $git_name := "" -}}
{{- $git_email := "" -}}
{{- if hasKey . "git_name" -}}
{{-   $git_name = .git_name -}}
{{-   $git_email = .git_email -}}
{{- else if and (ne .name "") (ne .email "") -}}
{{-   $git_name = .name -}}
{{-   $git_email = .email -}}
{{- end -}}
{{- if and (ne $git_name "") (ne $git_email "") }}
[user]
    name = {{ $git_name }}
    email = {{ $git_email }}
{{- end }}
[init]
    defaultBranch = main
[pull]
    rebase = true
[alias]
    snap = !git add -A && git commit -m \"snap: $(date +%H%M%S)\"
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset %C(auto)%d%Creset %s %C(dim green)(%ar) %C(bold blue)<%an>%Creset' --all
    undo = reset --soft HEAD~1
    amend = commit --amend --no-edit
[includeIf "gitdir:{{ .chezmoi.homeDir }}/Personal/"]
    path = {{ .chezmoi.homeDir }}/Personal/.gitconfig
[includeIf "gitdir:{{ .chezmoi.homeDir }}/Scaffold/"]
    path = {{ .chezmoi.homeDir }}/Scaffold/.gitconfig
[includeIf "gitdir:{{ .chezmoi.homeDir }}/Per_Tool/"]
    path = {{ .chezmoi.homeDir }}/Per_Tool/.gitconfig
[includeIf "gitdir:{{ .chezmoi.homeDir }}/Work/"]
    path = {{ .chezmoi.homeDir }}/Work/.gitconfig
[includeIf "gitdir:{{ .chezmoi.homeDir }}/Academic/"]
    path = {{ .chezmoi.homeDir }}/Academic/.gitconfig
[core]
    autocrlf = false
    excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[color]
    ui = auto
[push]
    default = simple
[credential "https://github.com"]
    helper =
{{- if eq .chezmoi.os "darwin" }}
    helper = !/opt/homebrew/bin/gh auth git-credential
{{- else }}
    helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
{{- end }}
[credential "https://gist.github.com"]
    helper =
{{- if eq .chezmoi.os "darwin" }}
    helper = !/opt/homebrew/bin/gh auth git-credential
{{- else }}
    helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
{{- end }}
[http]
    postBuffer = 524288000
[safe]
    directory = *
