<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.chezmoi-pf-firewall</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/libexec/chezmoi-pf-firewall</string>
  </array>
  <key>UserName</key>
  <string>root</string>
  <key>GroupName</key>
  <string>wheel</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>Umask</key>
  <integer>18</integer>
  <key>StandardOutPath</key>
  <string>/var/log/chezmoi-pf-firewall.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/chezmoi-pf-firewall.log</string>
</dict>
</plist>
